################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ASP.Net CRUD OPERATIONS
/ASP.Net CRUD OPERATIONS/bin
/ASP.Net CRUD OPERATIONS/obj/Debug
/packages
